@import 'common';
html,
body,
.tml-app-container,
.tml-root-container {
  height: 100%;
  min-height: 100%;
}
body {
  overflow-y: hidden;
}
$container-height: $tml-toolbar-height + 3px;
$container-height-small: 2*$tml-toolbar-height-small + 3px;
.tml-body-container {
  // @include compute-height($container-height);
  position: absolute;
  top: $container-height;
  bottom: 0;
  width:100%;
  @media(max-width: $tml-main-breakpoint) {
    top: $tml-toolbar-height-small + 3px;
    bottom: $tml-toolbar-height-small;
  }
}
.tm-non-capital {
  * {
    text-transform: none;
  }
}
#tm-site-button {
  * {
    font-size: 30px;
  }
}
