@import 'common';
$toolbar-transclude-main-fontsize: 20px;
.tm-toolbar {
  padding: 0 15px;
  .md-toolbar-tools {
    padding: 0;
  }
}
.tm-toolbar-transclude {
  @media (max-width: 599px) {
    font-size: 16px;
  }
}
.tm-toolbar-header {
  min-width: 200px;
  font-size: 30px;
  @media (max-width: 599px) {
    font-size: 18px;
    min-width: 150px;
  }
}

///raw
.tm-toolbar-raw {
  background-color: $main-color;
  color: $main-text-color;
  .tm-toolbar-tools-raw {
    height: $toolbar-height;
    margin: auto;
    @include responsive(100%,90%,80%,70%);
    .tm-toolbar-header-raw {
      float: left;
      position: relative;
      height: $toolbar-height;
      .tm-toolbar-header-raw-text {
        width: 250px;
        margin-top: 17px;
        @media (max-width: 599px) {
          margin-top: 23px;
          width: 150px;
        }
      }
    }
    .tm-toolbar-transclude-raw {
      float: right;
      position: relative;
      @media (max-width: 599px) {
        width: 150px;
      }
      .tm-toolbar-transclude-raw-text {
        margin-top: 22px;
        font-size: $toolbar-transclude-main-fontsize;
        @media (max-width: 599px) {
          font-size: 16px;
        }
      }
    }
  }
}

////tml
$tml-toolbar-padding-hor: 40px;
$tml-toolbar-padding-hor-small: 20px;

$tml-toolbar-logo-size: 4;
$tml-toolbar-logo-size-small: 3;

$tml-toolbar-logo-height: $tml-toolbar-logo-size*12px;
$tml-toolbar-logo-width: $tml-toolbar-logo-size*60px;
$tml-toolbar-logo-height-small: $tml-toolbar-logo-size-small*12px;
$tml-toolbar-logo-width-small: $tml-toolbar-logo-size-small*60px;

$tml-toolbar-logo-padding-ver: ($tml-toolbar-height - $tml-toolbar-logo-height)/2;
$tml-toolbar-logo-padding-ver-small: ($tml-toolbar-height-small - $tml-toolbar-logo-height-small)/2;

$tml-toolbar-timer-font: 20px;
$tml-toolbar-timer-font-medium: 17px;
$tml-toolbar-timer-font-small: 16px;

$tml-toolbar-timer-separator-margin: 12px;

.tml-toolbar {
    border-bottom: solid $main-color;
  position: relative;
  height: $tml-toolbar-height;
  padding: 0 $tml-toolbar-padding-hor;
  @include apply-under($tml-main-breakpoint) {
    height: $tml-toolbar-height-small;
    padding: 0 $tml-toolbar-padding-hor-small;
  }

  .tml-toolbar-element {
    float: left;
    width:33.33333%;
    position: relative;
  }
  .tml-toolbar-logo-container {

    height: $tml-toolbar-logo-height;
    @include apply-under($tml-main-breakpoint) {
      height: $tml-toolbar-logo-height-small;
    }
    padding: $tml-toolbar-logo-padding-ver 0;
    @include apply-under($tml-main-breakpoint) {
      padding: $tml-toolbar-logo-padding-ver-small 0;
    }
    .tml-toolbar-logo {
      height: $tml-toolbar-logo-height;
      width: $tml-toolbar-logo-width;
      @include apply-under($tml-main-breakpoint) {
        height: $tml-toolbar-logo-height-small;
        width: $tml-toolbar-logo-width-small;
      }
    }
  }
  .tml-toolbar-timer-container {
    text-align: center;
    @include apply-under($tml-main-breakpoint) {
      float: right;
      text-align: right;
    }

    height: 100px;
    .tml-toolbar-timer-text {
      font-size: $tml-toolbar-timer-font;
      padding: ($tml-toolbar-height - $tml-toolbar-timer-font)/2 0;
      @include apply-under(810px) {
        font-size: $tml-toolbar-timer-font-medium;
      }
      @include apply-under($tml-main-breakpoint) {
        font-size: $tml-toolbar-timer-font-small;
        padding: ($tml-toolbar-height-small - $tml-toolbar-timer-font-small)/2 0;
      }
      .tml-toolbar-timer-separator {
        margin: 0 $tml-toolbar-timer-separator-margin;
        @include hide-under($tml-main-breakpoint);
      }
      .tml-toolbar-timer-newline {
        display:none;
        @include show-under($tml-main-breakpoint);
      }
    }

    .tml-toolbar-session-inactive {
      color:red;
      font-size: $tml-toolbar-timer-font;
      padding: ($tml-toolbar-height - $tml-toolbar-timer-font)/2 0;
      @include apply-under($tml-main-breakpoint) {
        padding: 15px 0;
      }
    }
  }
  .tml-toolbar-store-container {
    text-align: right;
    height: $tml-toolbar-height;
    @include hide-under($tml-main-breakpoint);
  }
}

.tml-hide {
  visibility: hidden;
}
